<ul class="nav nav-pills nav-stacked">
	<li class="nav-header">OPTIONS</li>
	<li id="all" class="active">
		<%= link_to('ALL DOCUMENTS', documents_path) %>
	</li>
	<li id="new">
		<%= link_to 'ADD NEW DOCUMENT', new_document_path %>
	</li>
	<li id="notification">
		<a href="#">SEND NOTIFICATION</a>
	</li>
	<li id="analytics">
		<%= link_to('ANALYTICS', downloads_path) %>
	</li>
</ul>